{% extends 'base.html' %}
{% load socialaccount %}  {# добавляем теги allauth #}

{% block content %}
<h2>Вход в систему</h2>
<hr style="margin: 20px 0;">
<p style="text-align: center; margin-bottom: 10px;">Или войдите через</p>
<a href="{% provider_login_url 'github' %}"
    style="display: block; text-align: center; background: #24292e; color: white; padding: 10px;
    border-radius: 5px; text-decoration: none;">
        Войти через GitHub
</a>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Войти</button>
</form>
<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
{% endblock %}